@{
    ViewBag.Title = "DI";
}

<div class="jumbotron">
    <div class="alert alert-success">
        <strong>Dependency Incjection</strong> 
    </div>
    <h2>@Html.ActionLink("Dog", "Dogg", "Home")</h2>
    <h2>@Html.ActionLink("Bird", "Birdd", "Home")</h2>
    <h2>@Html.ActionLink("Cat", "Catt", "Home")</h2>
    
</div>
<div class="row">
    <h2>Animal:  @ViewData["aaa"]</h2>
    <h2>Voice: @ViewData["voice"]</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ile zwierząt w zoo: <b> @ViewData["count"] <b/> </h2>
        
    </div>
    
</div>

<div class="row" >
    <div class="col-md-4">
        <h2>Jakie zwierzęta w zoo: <b> @ViewData["list"] <b /> </h2>
        
    </div>

</div>