@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dependency Incjection</h1>
    <h2>@Html.ActionLink("Dog", "Dogg", "Home")</h2>
    <h2>@Html.ActionLink("Bird", "Birdd", "Home")</h2>
    <h2>@Html.ActionLink("Cat", "Catt", "Home")</h2>
    
</div>
<div class="row">
    <h2>Animal:  @ViewData["aaa"]</h2>
    <h2>Voice: @ViewData["voice"]</h2>
</div>

<div class="row">
    
</div>